<h1>Privileged information</h1>
<p>This section should only be visible to a logged-in user, others should get a 404</p>
<ul><li>unmasked minutiae</li>
<li>revealed information</li>
<li>disclosed material</li></ul>

  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
